@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');

.font-ultra {
  font-family: "Ultra", serif;
}

.font-kirang {
  font-family: "Kirang Haerang", system-ui;
}

.title-text {
  font-family: "Ultra", serif;
  color: #333;
}

.subtitle-text {
  font-family: "Kirang Haerang", system-ui;
  letter-spacing: 2px;
}
